/*-- Tom Bielawski
  -- Lambda School Web45
  -- Unit 1, Module 4 Sprint
  -- index.css
  -- 06/03/2021 --*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

/* My styling begins here */
/* Black header bar at top of page */
.headerBar
{
    width: 100%;
    background: black;
    height: 4vh;
}

/* Blurry highway image below nav bar */
.pic img
{
    height: 25%;
    width: 95%;
    margin: 2%;
    padding-left: 3%;
}

/* Nav Styling */
nav
{
    display: flex;
    justify-content: center;
}

.navBar
{
    padding-top: 1%;
    padding-left: 4%;
    width: 100%;  
    margin: 0;
}

.navButton
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 15%;
    padding-top: 2.75%;
    
}

/* -- Main container -- */
.container 
{
    width: 800px;
    margin: 0 auto;
}

/* Future and past containers */
.top-content 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container 
{
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

/* Middle page container */
.middle-content 
{
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

/* Boxes header */
.middle-content h2 
{
    padding: 0 2%;
    margin-bottom: 0;
}

/* Why boxes??? :) */
.middle-content .boxes 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box 
{
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Box coloring */
.one    { background-color: teal;       }
.two    { background-color: gold;       }
.three  { background-color: cadetblue;  }
.four   { background-color: coral;      }
.five   { background-color: crimson;    }
.six    { background-color: forestgreen;}
.seven  { background-color: darkorchid; }
.eight  { background-color: hotpink;    }
.nine   { background-color: indigo;     }
.ten    { background-color: dodgerblue; }

.bottom-content 
{
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container 
{
    padding-right: 4%;
}

.bottom-content .text-container:last-child 
{
    padding-right: 0;
}

/* Footer styling */
footer 
{
    width: 100%;
    background: black;
}

footer nav 
{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a 
{
    color: white;
    text-decoration: none;
}

/* **About page** */

/* Heading */
h1
{
    text-align: left;
    padding-left: 2%;
}

/* About Paragraph */

/* Dotted line style */
.dottedLine
{
    border-bottom: dotted black .25vh;
    padding: 0 2% 5% 2%;
}

/* Middle Section boxes */
/* Button styling */
.button
{
    width: 15%;
    display: inline;
    border: 2px solid black;
    border-radius: 10px;
    height: 2.25rem;
    text-align: center;
    padding: .5rem;
    margin: 4rem 0 4rem 0;
}

/* Paragraph styling */
p
{
    padding-top: 0%;
    padding-bottom: 6%;
    padding-left: .5%;
}

/* Section styling */
.aboutPageSections
{
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    padding-bottom: 2%;
    
}

/* Spacing adjustments */
.spacing
{
    display: flex;
    justify-content: space-evenly;
    width: 45%;
}

/* bottom section h1 and p */
.together
{
    padding-top: 0%;
    padding-left: 2%;
}

